/* Displays */
.flex {
    display: flex;
}

.inline {
    display: inline;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.none {
    display: none;
}

.center-full {
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.center-x {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.center-y {
    align-items: center;
}