/* Margin classes */
.mb-16 {
    margin-bottom: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mt-8 {
    margin-top: 8px;
}


.mb-32 {
    margin-bottom: 32px;
}

.mr-32 {
    margin-right: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-4 {
    margin-top: 4px;
}

.mr-4 {
    margin-right: 4px;
}

.ml-4 {
    margin-left: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}

.m-4 {
    margin: 4px;
}

.m-8 {
    margin: 8px;
}

.m-16 {
    margin: 16px;
}

.m-32 {
    margin: 32px;
}