.transition-50 {
    transition: all 50ms ease;
}

.transition-100 {
    transition: all 100ms ease;
}

.transition-150 {
    transition: all 150ms ease;
}

.transition-200 {
    transition: all 200ms ease;
}

.transition-250 {
    transition: all 250ms ease;
}

.transition-300 {
    transition: all 300ms ease;
}

.transition-350 {
    transition: all 350ms ease;
}

.transition-400 {
    transition: all 400ms ease;
}

.transition-450 {
    transition: all 450ms ease;
}

.transition-500 {
    transition: all 500ms ease;
}

.transition-1000 {
    transition: all 1000ms ease;
}

.transition-1500 {
    transition: all 1500ms ease;
}

.transition-2000 {
    transition: all 2000ms ease;
}

.transition-2500 {
    transition: all 2500ms ease;
}

.transition-3000 {
    transition: all 3000ms ease;
}